<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <title>Create Todo</title>
</head>
<body>
    <form action="/add-todo" method="post">
        <h4>Add Todo</h4>

        <label for="username">User:</label>
        <input type="text" name="username" id="username" required>
        
        <label for="todo">Todo:</label>
        <input type="text" name="todo" id="todo" required>

        <button type="submit">Save</button>
    </form>
</body>
</html>